<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="qtkj.com.qtoaandroid">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PhoneLoginActivity"/>
        <activity android:name=".activity.ForgetPassActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ChangePhoneActivity"/>
        <activity android:name=".activity.ChangePassActivity"/>
        <activity android:name=".activity.PersonalInformationActivity"/>
        <activity android:name=".activity.PhotoRecordActivity"/>
        <activity android:name=".activity.AttendanceManagementActivity"/>
        <activity android:name=".activity.SignRecordActivity"/>
    </application>

</manifest>